p {
    color: blue;
    margin: 40px;
    padding: 40px;
    background-color: black;
}
h2 {
    font-family: fantasy;
    margin: 40px;
    font-size: 37px;
}
li {
    margin: 40px;
    font-size: 20px;
}
em {
    color: blue;
}
#threeseven {
    text-align: center;
}
.beauty {
    font-size: 20px;
}
